# IDE
.idea/
.vscode/

# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
gs_vs_nerf/Ilza
db.sqlite3

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Windows metadata
*:Zone.Identifier

# macOS
.DS_Store

# Environment variables
.env
.env.*
/gs_vs_nerf/_preprocess_staging/
